{extend name="public:base"}
{block name="title"}图片管理{/block}
{block name="header"}
<h1>
    <span class="action-span"><a href="{:url('image/index')}">相册管理</a></span>
    <span class="action-span1"><a href="__GROUP__">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 图片管理 </span>
    <div style="clear:both"></div>
</h1>
{/block}
{block name="body"}
	<from method="post" action="" name="listForm">
		<div id="checkBoxList">
			{volist name="list" id="vo"}
			{volist name="$vo.img_thumb" id="v"}
			{if condition="$v neq ''"}
			<img src="/{$v}" height="50" width="50" ><input type="checkbox" value="{$v}" name="img[]" />
			{else /}
            暂无图片
            {/if}
			{/volist}
			<input type="hidden" id="ii" img-id="{$vo.img_id}">
			{/volist}
		</div>
		<button id="reverseSelect">全选</button>
		<h1>
			<span class="action-span"><a href="#" onclick="remove()">删除图片</a></span>
		</h1>
	</from>
{/block}
{block name="js"}
<script type="text/javascript">
	$(function() {
		$("#reverseSelect").click(function(){
			$("#checkBoxList :checkbox").each(function(){
				$(this).attr("checked", !$(this).attr("checked"));
			});
		});
	});

	function remove()
	{
		var img_id=$('#ii').attr('img-id');
		var arr = [];
		var arr2 = $(":checked");
		$.each(arr2,function(){
			arr.push($(this).val());
		});

		$.ajax({
			url:'{:url("remove")}',
			type:'post',
			data:{'img_thumb':arr.join(","),'id':img_id}
		});		
	}
</script>
{/block}