{extend name="public:base" /}
{block name="title"}添加属性{/block}
{block name="header"}
<h1>
    <span class="action-span"><a href="{:url('attribute/index')}">商品属性</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 修改属性 </span>
    <div style="clear:both"></div>
</h1>
{/block}
{block name="body"}
<div class="main-div">
    <form action="" method="post" name="theForm" enctype="multipart/form-data">
        <table width="100%" id="general-table">
            <tr>
                <td class="label">属性名称:</td>
                <td>
                    <input type='text' name='attr_name' maxlength="20" value='{$info.attr_name}' size='27' /> <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td class="label">属性类别:</td>
                <td>
                    <input type="radio" name="attr_type" value="0" {eq name="info.attr_type" value="0" }checked="checked"{/eq}/>单选属性
                    <input type="radio" name="attr_type" value="1" {eq name="info.attr_type" value="1" }checked="checked"{/eq}/>唯一属性
                </td>
            </tr>
            <tr>
            	<td class="label">属性值:</td>
            	<td>
                    <textarea name="attr_values">{$info.attr_values}</textarea>
                </td>
            </tr>
        </table>
        <div class="button-div">
            <input type="submit" value=" 确定 " />
            <input type="reset" value=" 重置 " />
        </div>
    </form>
</div>
{/block}