{extend name="public:base" /}
{block name="title"}商品列表{/block}
{block name="header"}
<h1>
    <span class="action-span"><a href="{:url('goods/index')}">商品列表</a></span>
    <span class="action-span"><a href="{:url('goods/out')}">下架商品</a></span>
    <span class="action-span"><a href="{:url('goods/recycle')}">回收站</a></span>
    <span class="action-span1"><a href="__GROUP__">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 审核商品 </span>
    <div style="clear:both"></div>
</h1>
{/block}
{block name="body"}
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>编号</th>
                <th>商品名称</th>
                <th>货号</th>
                <th>库存</th>
                <th>价格</th>
      			<th>商品品牌</th>
      			<th>商品分类</th>
      			<th>审核状态</th>
                <th>操作</th>
            </tr>
			{volist name="info" id="vo"}
            <tr>
                <td align="center">{$vo.goods_id}</td>
                <td align="center">{$vo.goods_name}</td>
                <td align="center">{$vo.goods_number}</td>
                <td align="center">{$vo.goods_inventory}</td>
                <td align="center">{$vo.goods_price}</td>
                <td align="center">{$vo.brand_name}</td>
                <td align="center">{$vo.gc_name}</td>
                <td align="center">
                    {if condition="$vo.is_check eq 0"}<font color="red">审核中</font>{/if}
                    {if condition="$vo.is_check eq 2"}<font color="red">审核未通过</font>{/if}
                </td>
                <td align="center">
                    <a href="{:url('check_edit','id='.$vo['goods_id'])}" title="编辑"><img src="__ADMIN__/Images/icon_edit.gif" width="16" height="16" border="0" /></a>
                </td>
            </tr>
			{/volist}
        </table>

        <!-- 分页开始 -->
        <table id="page-table" cellspacing="0">
            <tr>
                <td width="80%">&nbsp;</td>
                <td align="center" nowrap="true">
                    {$info->render()}
                </td>
            </tr>
        </table>
    <!-- 分页结束 -->
    </div>
{/block}